.heading{
    background-color: #f5f5f5;
    background-position: center;
    background-size: cover;
    padding: 5px;
    display: flex;
    gap: 50vh;
    height: 35px;
}
body{
    background-color: #f5f5f5;
}
 ul,li{
    display: inline-flex;
    gap: 20px;
    font-size: 20px;
    margin-top: -10px;
 }
 .team{
    margin-left: 70px;
 }
 .adesewa{
   display: flex;
 }
 .add{
   background-color: white;
   padding: 17px;
   height: 50px;
   padding-left: 20px;
   background-position: center;
   background-size: cover;
 }
 .multi{
    display: inline-flex;
    margin-left: 20px;
    gap: 100px;
    margin-top: -30px;
 }
 .shop{
    background-color: black;
    color: #ffc800;
    font-size: 45px;
 }
 .chop{
    background-color: #ffc800;
    color: black;
    font-size: 45px;
    margin-left: -8px;
 }
 input[type=text]{
    margin-left: 50px;
    width: 300px;
    height: 40px;
    margin-top: 30px;
 }
 .Customer{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
 }
 .cus{
    margin-top: -1px;
    font-size: 25px;
 }
 .team-a{
    background-color: #3d464d;
    background-position: center;
    color: white;
    display: flex;
    padding: 10px;
    padding-left: 60px;
    background-size: cover;
    height: 60px;
 }
 #oml{
   color: #ffc800;
 }
 .page{
    margin-left: 360px;
    /* margin-top: 30px; */
 }
 select{
   height: 30px;
   cursor: pointer;
   margin-top: -10px;
 }
 .name{
   background-color: #f5f5f5
 }
 .Categories{
    background-color: #ffc800;
    height: 80px;
    font-size: 13px;
    margin-top: -10px;
    color: #3D464D;
    width: 300px;
 }
 .pag{
   margin-top: 20px;
 }
 .dropbtn {
   background-color: #3d464d;
   color: white;
   /* padding: 16px; */
   font-size: 20px;
   border: none;
   cursor: pointer;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   margin-top: -10px;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffc800;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 #ab:hover{
   color: #ffc800;
 }
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropdown:hover .dropbtn {
   background-color: #3d464d;
 }
 .cate{
    margin-left: 60px;
    margin-top: 30px;
 }
 .team-b{
   margin-left: 300px;
    font-size: 25px
 }
 .team-c{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
 }
 .fa-heart{
   color: #ffc800;
   font-size: 20px;
 }
 .fa-cart-shopping{
   color: #ffc800;
   font-size: 20px;
 }
 .dog{
    margin-top: 30px;
    background-color: white;
    background-position: center;
    padding: 20px;
    margin-left: 60px;
    height: 10px;
    width: 170vh;
    background-size: cover;
 }
 .fish{
    font-size: 18px;
    gap: 5px;
 }
 .per{
    margin-top: -10px;
 }
 .snake{
    display: flex;
    gap: 20px;
    margin-left: 55px;
 }
 .sort{
    margin-left: 500px;
 }
 .show{
   margin-top: 20px;
   width: 80px;
   border: none;
 }
 #kis{
    width: 150px;
    border: 1px dashed black;
    opacity: 0.4;
    margin-left: 210px;
    margin-top: -35px;
 }
 .meat{
   display: flex;
   margin-left: 50px;
   font-size: 20px;
 }
 .boss{
   background-color: white;
   width: 300px;
   margin-top: 20px;
   height: 300px;
   margin-left: 55px;
 }
 .all{
   margin-left: -30px;
 }
 .mark{
   margin-left: 100px;
   margin-top: 20px;
 }
 .met{
   display: flex;
   margin-top: -20px;
   margin-left: 50px;
   font-size: 20px;
 }
 .ma{
   margin-left: 115px;
   margin-top: 15px;
 }
 .mar{
   margin-left: 83px;
   margin-top: 15px;
   width: 35px;
 }
 .ark{
   margin-left: 90px;
   margin-top: 15px;
   width: 34px;
 }
 .mak{
   margin-left: 102px;
   width: 32px;
   margin-top: 15px;
 }
 .mrk{
   margin-left: 103px;
   width: 30px;
   margin-top: 15px; 
}
.img2{
   width: 250px;
   height: 250px;
   transition: transfrom 0.9ms;
}
.img2:hover{
  transform: scale(1.1);
  opacity: 0.5;
}
.here{
   text-align: center;
   color: #3d464d;
   font-size: 15px;
}
.dad{
  background-color: white;
  width: 210px;
  padding: 20px;
  height: 90px;
  margin-top: -30px;
}
.star{
  text-align: center;
  margin-top: -10px;
}
.cap{
   display: flex;
   gap: 20px;
   margin-left: 370px;
   margin-top: -250px;
}
.car{
   display: flex;
   gap: 20px;
   margin-left: 370px;
   margin-top: -250px;
}
.bos{
   background-color: white;
   width: 300px;
   margin-top: 20px;
   height: 300px;
   margin-left: 55px;
}
.gap{
   margin-left: 55px;
   margin-top: 150px;
}
.lam{
   background-color: white;
   width: 300px;
   height: 300px;
   margin-left: 55px;
}
.damola{
   margin-left: 140px;
   margin-top: 15px;
}
.damo{
   margin-left: 135px;
   margin-top: 15px;
}
.dami{
   margin-left: 150px;
   margin-top: 15px;
}
.lola{
   margin-left: 143px;
   margin-top: 15px;
}
.dam{
   margin-left: 130px;
   margin-top: 15px;
}
.light{
   margin-left: 150px;
   margin-top: 15px;
}
.ligh{
   margin-top: 15px;
   margin-left: 163px;
}
.lig{
   margin-left: 158px;
   margin-top: 15px;
}
.al{
   background-color: white;
   width: 30px;
   height: 30px;
   margin-top: 20px;
}
.all:hover{
   background-color: #f5f5f5;
}
.fa-windows{
   margin-top: 5px;
   font-size: 20px;
   margin-left: 5px;
}
.fa-bars{
   font-size: 20px;
   margin-top: 5px;
   margin-left: 5px;
}
.Blue{
   margin-top: 130px;
   margin-left: 600px;
   display: flex;
}
.but{
   height: 40px;
   /* border: 1px solid #f5f5f5; */
}
.buo{
   height: 40px;
   color: #ffc800;
   border: 1px solid #d8d7d2;
}
.grandma{
   background-color: #3d464d;
   background-position: center;
   padding: 30px;
   color: white;
   height:430px;
   background-size: cover;
   margin-top: 50px;
}
.ope{
   font-size: 20px;
}
.grandpa{
   display: flex;
   justify-content: space-between;
}
.anuty{
   color: white;
   font-size: 15px;
}
.bro{
   display: grid;
   color: white;
   text-align: center;
   gap: 5px;
   margin-left: 110px;
}
.fa-arrow-right{
   font-size: 15px;
   margin-left: -90px;
   margin-top: 20px;
}
 .lie{
   margin-left: -19px;
}
.caps{
   margin-left: -27px;
}
.cab{
   margin-left: -49px;
} 
.out{
   margin-left: -38px;
}
a{
   color: white;
   font-size: 20px;
   text-decoration: none;
}
.new{
   font-size: 20px;
}
#ss{
   height: 40px;
   width: 140px;
   margin-left: -3px;
}
input[type=submit]{
   height: 44px;
   width: 100px;
   margin-left: -9px;
   border: none;
   background-color: #ffc800;
}
.icon{
   display: flex;
   gap: 5px;
}
.fa-facebook{
   margin-top: 7px;
   color: black;
   margin-left: 5px;
   font-size: 25px;
}
.fa-twitter{
   margin-top: 7px;
   color: black;
   margin-left: 5px;
   font-size: 25px;
}
.fa-youtube{
   margin-top: 7px;
   color: black;
   margin-left: 5px;
   font-size: 25px;
}
.fa-instagram{
   margin-top: 7px;
   margin-left: 5px;
   color: black;
   font-size: 25px;
}
.face{
   background-color: yellow;
   height: 35px;
   width: 35px;
   margin-top: -10px;
}
hr{
   margin-top: 50px;
}
.rap{
   display: flex;
   gap: 500px;
}
#kiss{
   width: 100%;
   margin-left: -20px;
   opacity: 0.3;
}
.rema{
   margin-top: 20px;
}


